<script type="application/ld+json">
{
  "@context":"https://schema.org",
  "@type":"LocalBusiness",
  "name":"Captivi",
  "url":"https://captivi.info/",
  "image":"https://captivi.info/images/og.jpg",
  "telephone":"+1-805-000-0000",
  "address":{
    "@type":"PostalAddress",
    "addressLocality":"Santa Barbara",
    "addressRegion":"CA",
    "postalCode":"93101",
    "addressCountry":"US"
  },
  "areaServed":[
    {"@type":"AdministrativeArea","name":"Santa Barbara County"},
    {"@type":"Country","name":"United States"}
  ]
}
</script>
